* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  flex-direction: column;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color);
  z-index: 99;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--gradient-start) ,var(--gradient-end));
}

.logo1 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo1 h2 {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 900;
  margin: 10px 0;
}

.logo1 span {
  width: 150px;
  height: 3px;
  background: var(--accent-color);
  border-radius: 100%;
}

.navmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 10px;
  margin-top: 20px;
  list-style: none;
}

.navmenu li {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
}

.navmenu li::after {
  content: '';
  position: absolute;
  background: var(--gradient-start);
  width: 0;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(26, 31, 55, 0.3);
  padding: 0 16px;
  transition: all 0.2s linear;
}

.navmenu li:hover::after {
  width: 150px;
  background: var(--hover-bg);
}

.navmenu li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  z-index: 9;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 763px;
    height: 471px;
    border-radius: 0 0 21px 21px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input_container {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 40px;
    text-align: right;
    /* background-color: aquamarine; */
    box-sizing: border-box;
  }
  
  .form label {
    width: 100px;
    margin-left: 5px;
    line-height: 40px;
  }
  
  .input_text {
    box-sizing: border-box;
    width: 600px;
    height: 35px;
    /* position: absolute; */
    right: 0;
    margin-left: 10px;
    border: none;
    outline: none;
  }
  
  .form span {
    font-size: 12px;
    margin-top: 15px;
    margin-left: 50px;
  }
  
  .agree {
    background-color: #e0e0e0;
    font-size: 12px;
    box-sizing: border-box;
    margin: 10px 50px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .input_checkbox {
    margin-left: 10px;
    width: 12px;
    height: 12px;
  }
  
  textarea {
    outline: none;
    margin: 10px 40px 20px 40px;
    height: 140px;
    border: 1px solid #e0e0e0;
    padding: 10px;
  }
  
  .button_container {
    text-align: center;
    /* background-color: aquamarine; */
  }